# Reglas comunes compartidas viven en /.gitignore

# Gestores de paquetes no usados por npm actual
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Archivos puntuales de frontend
*.pem

# Integraciones de despliegue
.vercel

# Artefactos propios de TypeScript/Next
*.tsbuildinfo
next-env.d.ts
